<!DOCTYPE html>
<html>
<head>
 <title>Corn future Price LSTM network</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css')}}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css')}}">
</head>
<body>
 
  <div align="center" class="bg-info">
 <h1>Corn futures price prediction</h1></div>
 <div class="big" align="center">
   <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
  </form>
 </div>
</body>
</html>